.header-container {
  display: flex;
}

.header {
    justify-content: center;
    width: auto !important;
    height: 200px;
    background-size: cover;
  }
  
.form-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}

.form-custom {
  width: 70%; 
}


.form-control {
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  width: 80%; 
  height: 50px; 
  margin: 0 auto; 
  justify-content: center;
  align-items: center;
}

.add-button {
  background-color: #5E1B89; 
  border-color: #5E1B89; 
  width: 150px; 
  height: 50px;
}

.add-button:hover {
  background-color: #2b0047; 
  color: white;
}

.save-button {
  background-color: #9D71BC; 
  border-color: #9D71BC; 
  width: 150px; 
  height: 50px;
  
}

.save-button:hover {
  background-color: #9c83ad; 
  
}

.white-text {
  color: white;
}

